.App {
  text-align: center;
}

table{
  border: collapse 2px;
}
table,th,td{
  border: 2px solid gray;
}
form{
  background-color: aqua;
  display: inline-block;
  padding: 20px;
}
form label{
  display: inline-block;
  width: 100px;
}
form select{
  width: 120px;
}
form div{
  margin: 15px;
}